*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins-Medium';
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid rgba(170, 170, 170, 0.342) !important;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px !important;
}

.navbar-header {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-header .logo{
    display: inline-block;
}
.navbar-header .brand{
    display: inline-block;
    height: 30px;
}
.margin-left-5 {
    margin-left: 5px;
}



.navHollowBtn {
    height: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #195bdd !important;
    border: 1px solid #195bdd;
    padding-top: 10px !important;
    position: relative !important;
    top: -4px;
    margin-left: 10px;
    font-family: poppins-regular;
    letter-spacing: .5px;
    
}
.navbar-nav>a {
    cursor: pointer;
    position: relative;
    display: block;
    padding: 10px 15px !important;
    line-height: 20px;
}
.navbar-nav {
    flex-direction: row;
}

.navFillBtn {
    height: 40px;
    border-radius: 4px;
    background-color: #195bdd;
    color: #ffffff !important;
    border: 1px solid #195bdd;
    padding-top: 10px !important;
    position: relative !important;
    top: -4px;
    margin-left: 10px;
    font-family: poppins-regular;
    letter-spacing: .5px;
    
}

.loopTextColor {
    color: #5e6875 !important;
}



.icon {
    display: none;
  } 
@media screen and (max-width: 700px) {
    .resnav>a {
        display:none;
    }
    .resnav.responsive {position: relative;}
     .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .resnav.responsive a {
      
      display: block;
      
    }
    
    .navbar{
        display: block;
    }
    .navFillBtn{
        margin-top: 10px;
    }
   .indivTab label{
        width: 100px !important;
    }
  }

  
  
  @media screen and (max-width: 700px) {
    .navbar-nav {display: none;}
    .icon {
      display: block;
      padding: 16px;
      font-size: 30px;
    }
  }
.loopTabs{
    border: 1px solid rgba(170, 170, 170, 0.342);
    border-radius: 6px;
    padding: 5px;
    margin: 4px;

}
.indivTab{
    display: inline-block;
}
.indivTab input[type="radio"] {
    display: none;
}

.indivTab label {
    background: #ffffff;
    width: 138px;
    height: 40px;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 2px;
    margin-bottom: 0px;
    border-radius: 4px;
    padding: 14px 20px;
    color: #465465;
    cursor: pointer;
    
}
.indivTab input[type="radio"]:checked ~ label {
    background: #0052cc;
    margin-bottom: 0;
    color: #ffffff;
    cursor: default;
}
input[type="date"]{
    -webkit-appearance: textfield;
}


.indivTab :hover {
    background: rgb(180, 180, 180);
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.font-20 {
    font-size: 20px;
    padding: 5px;
    margin: 4px;
}
.filter{
    background: rgba(1, 3, 100, 0.075);
    padding-top: 5px;
    padding-bottom:30px;
}
.filter-dropdown button {
    padding: 18px;
    background: rgba(170, 166, 166, 0);
    border: 0;
    color: #939da8;
    border-radius: 0;
    font-weight: 100 !important;
}
.filter-dropdown.open button {
    background: white;
}
.listing-filter-options {
    color: #172b4d;
    margin-bottom: 12px;
    background-color: #ececec;
}

table.min-max-table:last-child td:last-child button {
    padding: 5px 10px;
    border: 1px solid #ececec;
    float: right;
}
.loop-primary {
    border-radius: 3px !important;
    background-color: #0052cc !important;
    padding: 5px 20px !important;
    color: #ffffff !important;
    text-transform: uppercase !important;
}
.loop-secondary-inverted {
    border-radius: 3px !important;
    background-color: #ffffff !important;
    border: 1px solid #0052cc !important;
    padding: 5px 20px !important;
    color: #0052cc !important;
    text-transform: uppercase !important;
}
.datepickerLabel {
    display: inline-block;
    background: #ececec;
    padding: 9px;
    position: relative;
    left: 5px;
    border: 1px solid #ececec;
}
.check {
    position: relative;
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.font-medium {
    font-family: 'Poppins-Medium';
}
.font-14 {
    font-size: 14px;
}
.float-left {
    float: left!important;
}
.filter-dropdown-container {
    position: absolute;
    z-index: 9;
    left: 31px;
    top: 100%;
    height: auto;
    background-color: #ffffff;
    border: solid 1px #f2f2f2;
    width: auto;
    padding: 20px;
    color: black;
    border-radius: 0px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(174,174,174,0.5);
    box-shadow: 0 2px 4px 0 rgba(174,174,174,0.5);
}
.sort{
    border-radius: 3px !important;
    background-color: #ffffff !important;
    border: 1px solid #465465 !important;
    padding: 5px !important;
    margin-top:6px;
    color: #0052cc !important;
    text-transform: uppercase !important;
}
.dropdown-toggle:focus {
    box-shadow: none !important;
}

.btn :focus{
    box-shadow: none !important;
}